<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/home" class="navbar-brand"> <img src="../../assets/images/pa.png" alt="Psiho Altfel" style="height: 40px;"></a>
        </div>
        <div class="navbar-collapse" [class.colapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                   <a class="dropdown-toggle" role="button">Procese cognitive senzoriale<span class="caret"></span></a>
                   <ul class="dropdown-menu">
                       <li role="presentation"><a routerLink="/senzitivity">Senzații</a></li>
                       <li role="presentation"><a routerLink="/perception">Percepții</a></li>
                       <li role="presentation"><a routerLink="/reprezentation">Reprezentări</a></li>
                   </ul>
                </li>
                <li class="dropdown" appDropdown>
                    <a class="dropdown-toggle" role="button">Procese cognitive superioare<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a routerLink="/thinking">Gândire</a></li>
                        <li role="presentation"><a routerLink="/memory">Memorie</a></li>
                        <li role="presentation"><a routerLink="/imagination">Imaginație</a></li>
                    </ul>
                </li>
               <li class="dropdown" appDropdown>
                    <a class="dropdown-toggle" role="button">Procese reglatorii<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a routerLink="/motivation">Motivația</a></li>
                        <li role="presentation"><a routerLink="/willness">Voința</a></li>
                        <li role="presentation"><a routerLink="/attention">Atenția</a></li>
                        <li role="presentation"><a routerLink="/affection">Afectivitate</a></li>
                    </ul>
                </li>
                <li class="dropdown" appDropdown>
                    <a class="dropdown-toggle" role="button" routerLink="/personality">Personalitate<span class="caret"></span></a>
                </li>
                <li class="dropdown" appDropdown>
                    <a class="dropdown-toggle" role="button" routerLink="/psychic-activities">Activități psihice<span class="caret"></span></a>
                </li>
           </ul>
        </div>
    </div>
</nav>