<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="title">
                <h1> Personalitatea</h1>
            </div>
            <br>
            <div class="row">
                <button 
                    type="button" 
                    class="btn btn-primary col-xs-4 senzation" 
                    (click)="onWhatIsPersClick()"> 
                    Despre personalitate
                </button>
            </div>    
            <br>
            <div class="row">
                <div *ngIf="whatIsPers === true" class="content">
                    <h4>
                        Personalitatea este un sistem bio-psiho-socio cultural.
                    </h4>
                    <h4>Omul poate fi privit ca un tot unitar și relativ autonom o <u>entitate</u>. Personalitatea este unică și originală. </h4>
                    <h4>Modelul general uman de personalitate:
                        <ol>
                            <li>apartenența la speța umană;</li>
                            <li>ființă socială;</li>
                            <li>ființă dotată cu gândire și voință;</li>
                            <li>participare la cultură, dotare cu valori</li>
                            <li>potențialul creativității</li>
                        </ol>
                    </h4>
                    <h4>Realitatea umană se structurează astfel:
                        <ul>
                            <li><b>individ</b>: caracterul de sistem a organismului pe latură individualității acestuia; nu poate fi dezmembrat fără a-și pierde identitatea;</li>
                            <li><b>individualitate</b>: ansamblul proprietăților distincte și originale ale unui individ;</li>
                            <li><b>persoană</b>: specificarea umanului;</li>
                            <li><b>personalitate</b>: concept care cuprinde întreg sistemul atributelor, structurilor și valurilor de care dispune o persoană.</li>
                        </ul>
                    </h4>
                </div>
            </div>    
            <hr>
            <div class="row">
                <button 
                    type="button" 
                    class="btn btn-primary col-xs-4 senzation" 
                    (click)="onTempClick()"> 
                    Temperamentul
                </button>
            </div>    
            <br>
            <div class="row">
                <div *ngIf="temp === true" class="content">
                    <h4>
                        Temperamentul este latura dinamico-energetică a personalității.
                    </h4>
                    <h4>Din caracteristicile temperamentului, și anume forța, mobilitatea și echilibrul rezultă cele 4 tipuri temperamentale:
                        <ul>
                            <li><b>sangvinic</b>: puternic, echilibrat, mobil</li>
                            <li><b>flegmatic</b>: puternic, echilibrat, inert</li>
                            <li><b>coleric</b>: puternic, neechilibrat</li>
                            <li><b>melancolic</b>: slab</li>
                        </ul>
                    </h4>
                    <div style="border: dotted green; padding: 2%; ">
                        <h4><b>Sangvinicul</b> se caracterizează prin ritmicitate, echilibru și acestea în condițiile voinicii, rapidității, mișcărilor și vorbirii printr-o mare efervescență emoțională. Este temperamentul bunei dispoziții, al adaptabilității prompte și economicoase. Dincolo de voinicie și exuberanță se descoperă calmul, stăpânirea de sine. Sangvinicul poate aștepta fără o încordare chinuitoare și poate să renunțe fără a suferi mult. Extrema mobilitate sangvinică îngreunează fixarea scopurilor, consolidarea intereselor și prejudiciază presistența în acțiuni și relații.</h4>
                        <h4><b>Flegmaticul</b> este, înainte de toate, un om lent în tot ceea ce face și totodată neobișnuit de calm. Dispune de un fel de răbdare naturlă și de aceea, prin educație atinge performanțe în preseverența voluntară, meticulozitate, temeinicie în munca lungă durată. Deși pare afectiv, flegmaticul ajunge la sentimente extrem de consistente și durabile. Se poate semnala o redusă adaptabilitate, înclinații spre rutină și dezavantajul tempoului foarte lent care nu corespunde exigențelor anumitor acțiuni. De regulă, sunt introvertiți, închiși în sine, puțin comunicativi și orientați mai mult spre trecut, având comună această trăsătura cu melancolicii. </h4>
                        <h4><b>Colericul</b> este excitabil și inegal în toate manifestările sale, fie că este eruptiv, năvalnic, nestăpânit, fie deprimat, cuprins de teamă și panică. Uneori se constată o evoluție ciclotimică. Dezvoltarea sinusoidală cu ascensiuni și căderi ale capacității de lucru este dublată de oscilații între entuziasm, temeritate și stare de abandon, decepție. Înclinația spre exagerare, într-un sens sau altul periclitează echilibrul emoțional. Sunt oameni neliniștiți, nerăbdători, predispuși la furie violentă, dar și la afecțiuni neobișnuite cu relații ce exagerează atât amiciția cât și ostilitatea. În dependență de semnificațiile activității lor, de idealul de viață, se pot afirma ca oameni ai marilor inițiative, capabili să se concentreze maximal în acțiuni de lungă durată. Cu greu se pot suplini însă nestăpânirea și perturbarea ritmului necesar disciplinei. Extrovertiți, foarte comunicativi, colericii sunt orientați spre prezent și viitor ca sangvinicii.</h4>
                        <h4><b>Melancolicul</b> sau temperamentul hipotonic vădește un tonus scăzut și reduse disponibilități energetice de unde, pe de o parte, sensibilitatea, emotivitatea deosebită, iar pe de altă parte înclinarea spre depresiune în condiții de solicitări crescute. Se mai semnalează și dificultăți în adaptarea socială, acestea și datorită unor exagerate exigențe față de sine și a redusei încrederi în forțele proprii. Alte particularități sunt dependente de mobilitate și echilibru, redând, în acest context hipotonic, unele din trăsăturile arătate la celelalte 3 temeperamente descrise mai sus.</h4>
                        <h6 class="text-center">Popescu-Neveanu, P., Zlate, M., & Creţu, T. (1997). Psihologie. Bucureşti: Ed. DP.</h6>
                    </div>

                    <h4>Temperamentul este cea mai accesibilă și ușor constatabilă latură a personalității. Temperamentele îndeplinesc rol și în relațiile dintre oameni și în gruparea lor, cât și în raporturile educative.</h4>
                </div>
            </div>    
            <hr>
            <div class="row">
                <button 
                    type="button" 
                    class="btn btn-primary col-xs-4 senzation" 
                    (click)="onAptClick()"> 
                    Aptitudini
                </button>
            </div>    
            <br>
            <div class="row">
                <div *ngIf="apt === true" class="content">
                    <h4>
                        Aptitudinile sunt latura intrumental-operațională a pesonalității.
                    </h4>
                    <h4>Caracteristici:
                        <ul>
                            <li>aptitudinile se demonstrează întotdeauna prin reușita în activitate</li>
                            <li>valoarea aptitudinilor trebuie pusă în legătură directă cu eficiența, calitatea și modul de îmbinare al operațiilor</li>
                            <li>aptitudinile nu sunt egale cu capacitatea; aceasta din urmă fiind o aptitudine formată prin deprinderi rezultate din exerciții și îmbogățită cu o serie de cunoștințe adecvate</li>
                            <li>aptitudinile elementare mijlocesc și conditționează acțiunile și eficiența lor</li>
                            <li>aptitudinile generale (inteligența, spirit de observație, memorarea, creeativitatea) sunt utile în toate domeniile.</li>
                        </ul>
                    </h4>
                    <h4><b>Clasificare</b></h4>
                    <h4>Aptitudinile pot să fie elementare (simple) și complexe.</h4>
                    <h4><b>Aptitudinile elementare</b> sunt cele care sprijină modul de funcționare sau operare optim în fiecare activitate desfășurată. Aceste aptitidini sunt cele care mijlocesc acțiunile și condișionează eficiența în anumite momente sau laturi ale activității.</h4>
                    <h4><b>Aptitudinile complexe</b> se situează la un nivel mai înalt de operare. Acestea se divid în aptitudini speciale și aptitudini generale. <b>Aptitudinile speciale</b> sunt acelea care mijlocesc, facilitează eficiența activităților desfășurate strict într-un anumit domeniu (cântatul). <b>Aptitudinile generale</b> sunt utile în toate domeniile de activitate (sau în majoritatea). Aceste aptitudini pot fi spiritul de observație, memoria exactă și reproducerea fidelă, inteligența etc.</h4>
                </div>
            </div>    
            <hr>
            <div class="row">
                <button 
                    type="button" 
                    class="btn btn-primary col-xs-4 senzation" 
                    (click)="onCaractClick()"> 
                    Caracterul
                </button>
            </div>    
            <br>
            <div class="row">
                <div *ngIf="caract === true" class="content">
                    <h4>
                        Caracterul este latura relațional valorică a personalității.
                    </h4>
                    <h4>Caracteristici:
                        <ul>
                            <li><b>unitatea de caracter</b>: păstrarea conduitei de la o etapă la alta;</li>
                            <li><b>originalitatea</b>: autenticitatea în însușirea și realizare unor valori gradul lor diferit de dezvoltare de la un individ la altul;</li>
                            <li><b>bogăția</b>: multitudinea relațiilor stabilite cu viața socială;</li>
                            <li><b>statornicia</b>: existența unei valori morale, a cărui manifestare în comportament ramâne fundamentală;</li>
                            <li><b>plasticitatea</b>: restructurarea unor elemente a caracterului în raport cu noile cerințe impuse;</li>
                            <li><b>tăria</b>: rezistența la acțiuni și influențe contrare scopurilor, convingerilor, sentimentelor care reprezintă linii de orientare.</li>
                        </ul>
                    </h4>
                    <h4>Însușirile caracteriale constau în poziția pe care subiectul o are față de cele din jur, un mod de a se raporta la evenimente. Modalitățile prin care subiectul se raportează îl descriu pe el și se traduc prin comportamente și se numesc atitudini. Atitudinile se pot manifesta prin gesturi, postura pe care o avem, reacția la un anumit eveniment. În studierea caracterului ne interesează numai acele atitudini stabile și generalizate, reprezentative pentru subiectul vizat, la baza formării lor fiind convingeri puternice.</h4>
                </div>
            </div>    
            <hr>
            <div class="row">
                <button 
                    type="button" 
                    class="btn btn-primary col-xs-4 senzation" 
                    (click)="onCreativityClick()"> 
                    Creativitatea
                </button>
            </div>    
            <br>
            <div class="row">
                <div *ngIf="creativity === true" class="content">
                    <h4>
                        Creativitatea este o trăsătură complexă a personalității, care constă în capacitatea de a realiza ceva nou, original.
                    </h4>
                    <h4>Caracteristici:
                        <ul>
                            <li>noutatea produsului este evaluată după cota de originalitate (distanța dintre ce e nou și ceea ce preexistă ca fapt cunoscut și uzual în domeniul respectiv)</li>
                            <li>orice subiect dispune de potențial creativ, însă talentul corespunde creativității de nivel superior</li>
                            <li>demersurile creative pot fi spontane sau intenționate</li>
                        </ul>
                    </h4>
                </div>
            </div>    
        </div>
    </div>
</div>