<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="title">
                <h1> Atentia</h1>
            </div>
            <br>
            <div class="row">
                <button 
                    type="button" 
                    class="btn btn-primary col-xs-4 senzation" 
                    (click)="onWhatIsATClick()"> 
                    Ce este atenția?
                </button>
            </div>    
            <br>
            <div class="row">
                <div *ngIf="whatIsAT === true" class="content">
                    <h4>
                        Atenția este fenomenul psihic care constă în concentrarea și orientarea energiei psihonervoase în vederea desfășurării optime a activității psihice.
                    </h4>
                </div>
            </div>    
            <hr>
            <div class="row">
                <button 
                    type="button" 
                    class="btn btn-primary col-xs-4 senzation" 
                    (click)="onTAClick()"> 
                    Tipuri de atenție
                </button>
            </div>    
            <br>
            <div class="row">
                <div *ngIf="ta === true" class="content">
                    <h4>
                        După locația stimulului avem: 
                        <ul>
                            <li><b>atenție internă</b>: idei, gânduri, trăiri, emoții</li>
                            <li><b>atenție externă</b>: atent la o lumină, zgomot, obiect, imagine</li>
                        </ul>
                    </h4>
                    <h4>După prezența sau absența voinței avem:
                        <ul>
                            <li><b>atenția involuntară</b>: se realizează în absența voinței, astfel nu duce la oboseală; este o formă simplă a atenției, întâlnită și la animale; este stimulată de noutatea, complexitatea, intensitatea, apariția/dispariția stimulului</li>
                            <li><b>atenția voluntară</b>: este prezentă voința, se realizează cu un consum mai mare de energie, astfel duce la oboseală, este autoreglată conștient.</li>
                            <li><b>atenția postvoluntară</b>: este o formă superioară de manifestare a atenției, fiind o atenție specializată și se formează prin educație pentru că <u>atenția poate fi educată</u>.</li>
                        </ul>
                    </h4>
                </div>
            </div>    
            <hr>
            <div class="row">
                <button 
                    type="button" 
                    class="btn btn-primary col-xs-4 senzation" 
                    (click)="onQAClick()"> 
                    Calitățile atenției
                </button>
            </div>    
            <br>
            <div class="row">
                <div *ngIf="qa === true" class="content">
                    <h4>
                        <ol>
                            <li><b>Volumul atenției</b>: reprezintă cantitatea de elemente care pot fi cuprinse simultan, adică la care pot fi atent în același timp cu același grad de claritate; volumul mediu al atenției este 5-7 elemente.</li>
                            <li><b>Distributivitatea atenției</b>: presupune desfășurarea concomitentă a mai multor activități cu condiția ca o parte din ele să fie automatizate.</li>
                            <li><b>Stabilitatea atenției</b>: presupune menținerea neîntreruptă a orientării atenției asupra aceluiaș obiect/activitate timp îndelungat. Aceasta este dată de motivația pentru activitate.</li>
                            <li><b>Mobilitatea atenției</b>: presupune a ne direcționa atenția de la o sarcină la alta într-un timp foarte scurt.</li>
                            <li><b>Concentrarea atenției</b>: reprezintă focalizarea pe un anumit stimul și eliminarea focarilor pertubartori (alti stimuli care ne-ar putea perturba activitatea).</li>
                        </ol>
                    </h4>
                </div>
            </div>    
        </div>
    </div>
</div>