<div class="container" style="text-indent: 2%;">
    <div class="row">
        <img src="../../../assets/images/home.png" alt="school" class="image" style="width: 100%;">
        <div class="row">
            <div class="col-xs-8">
                <h3>Cine sunt eu?</h3>
                <h4>
                    <ul>
                        <li>Numele meu este Iulia Mureșan și sunt studentă în anul I la Facultatea de Psihologie și Științe ale Educației, specializarea Psihologie </li>
                        <li>Am teminat profilul pedagogic, specializarea învățători-educatoare, astfel am dobândit pe parcursul anilor de liceu cunoștințe de nivel psiho-pedagigic.</li>
                        <li>Încă din clasa a X-a, de la primul contact cu psihologia, am fost pasionată de acest domeniu. Acest lucru m-a motivat să-mi dedic timpul liber studiului acestei materii, iar astfel am participat la numeroase olimpiade, ajungând si la nivel național.</li>
                    </ul>
                </h4>
                <br>
                <h3>De ce am creat acest site?</h3>
                <h4>
                    <ul><li>
                    Am creat acest site pentru a împărtăși cunoștințele mele legate de psihologia generală persoanelor pasionate de acest domeniu.
                    </li></ul>
                 </h4>
            </div>
            <div class="col-xs-4">
                <br>
                <img src="../../../assets/images/me.jpeg" alt="Iulia Mureșan" style="width: 17vw;">
            </div>
        </div>
        <br>
        <h3>Cui îi este util acest site?</h3>
        <h4>
            <ul>
                <li>Acest site este util tinerilor și nu numai, informațiile fiind create în așa fel încât oricine să fie capabil să le învete cu ușurință.</li>
                <li>Totodată, elevii de clasa a XII-a, care doresc să susțină proba la alegere a bacalaureatului din psihologie generală, vor găsi pe acest site informații de bază și esențiale despre această materie.</li>
            </ul>
        </h4>
        <br>
    </div>
</div>
